body {
	font-family: arial;
	font-size:5vw;
	background-color:white;
	/*margin:auto;*/
	/*width:100%;*/
	
}

h1.book-title {
	color:black;
	font-family: Georgia;
	line-height: 1;
	font-size:110pt;
	width:800px;
}



p {
	color: black;
}

#coming-soon {
	font-family: Georgia;
	font-size:27pt;
	line-height:1;
}

#subtitle {
	color:black;
	font-family: Georgia;
}

#author {
	font-family: Georgia;
	font-size:44pt;
	line-height:1;
}

.bg {

	background-image: url("../imgs/herewego.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:100%;
}

div.synopsis {
	line-height: 1.9;
	font-family: Verdana;
	font-size:14pt;
	padding:10px;
}

#disclaimer {
	text-align: justify;
	color:white;
}

#copyright {
	text-align: justify;
	color:white;
}

div.footer {
	background:black;
	font-size:9pt;
	font-family: Courier;
	padding: 20px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  h1.book-title {
    width: 100%;
    font-size:15vw;
  }
}

