body {
	font-family: arial;
	background-color:white;
	margin:auto;
	width:700px;
	
}

h1.book-title {
	color:black;
	font-family: Georgia;
	line-height: 1;
}



p {
	color: black;
}

#coming-soon {
	font-family: Georgia;
	font-size:17pt;
	line-height:1;
}

#subtitle {
	color:black;
	font-family: Georgia;
}

#author {
	font-family: Georgia;
	font-size:22pt;
	line-height:1;
}

.bg {

	background-image: url("../imgs/herewego.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:100%;
}

div.synopsis {
	margin:auto;
	line-height: 1.9;
	font-family: Verdana;
}

#disclaimer {
	width:500px;
	text-align: justify;
	font-size:9pt;
	font-family:Courier;
}

#copyright {
	width:500px;
	text-align: justify;
	font-size:9pt;
	font-family: Courier;
}

